@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* =======================================================
----------------GLOBAL STYLES--------------------------
========================================================*/
body{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  text-align: center;
}

header,
main,
section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section{
  width: 85%;
}

header img{
  width: 80px;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  background: url("../images/project-4.jpg") no-repeat;
  background-size: cover;
}

h2{
  font-size: 2.5rem;
  width: 100%;
}

p{
  font-size: 1.5rem;
}

.navbar{
  width: 100%;
  list-style: none;
  text-align: center;
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: underline;
}

.socials{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  font-size: 6rem;
}

/* =======================================================
----------------HOME PAGE STYLES--------------------------
========================================================*/
.find-us{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.find-us li{
  display: grid;
  grid-template-areas: 
  "icon text";
  grid-template-columns: 15% 80%;
}

.find-us i{
  grid-area: "icon";
}

.find-us p{
  grid-area: "text";
  text-align: left;
}

.affiliates img{
  width: 100%;
}